

text {
    font-size: 10pt;
    font-family: Arial, Helvetica, sans-serif;
    fill: white;
  }

.header {
    background-color: #3E3A39;
    height: 150px !important;
    width: 100% !important;
    position: relative !important; 
    }

img.logo {
    position: relative;
    padding-left: 5%;
    top: 25%;
    bottom: 25%;
    width: auto;
    height: 50%;
}

body {
    height: auto !important;
    width: auto !important; }

h1.title_header {
    position: absolute;
    font-family: Arial, Helvetica, sans-serif;
    padding-left: 40%;
    top: 20%;
    color: #FFFFFF;
    font-size: 18pt;
}

h2.subtitle_header {
    position: absolute;
    font-family: Arial, Helvetica, sans-serif;
    padding-left: 40%;
    top: 40%;
    color: #FFFFFF;
    font-size: 16pt;
    font-style: italic;
}
